input[type=button]{
    border: 3px solid rgb(88, 202, 132);
    border-radius: 15px;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(2, 22, 6);
    color: bisque;
}
input[type=button]:hover{
    border: 3px solid rgb(88, 202, 132);
    border-radius: 15px;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(89, 4, 158);
    color: bisque;
}
th{
    font-size: large;
}
body{
    height:100%;
    width:100%;
    background-size: cover; 
    background-repeat: no-repeat;
    background-image: url("menu.jpg");
}
table{
    border: 3px solid white;
    border-radius: 5px;
    background-color:rgba(0, 0,0,.5);
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}
.label{
    color: bisque;
}